.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border-radius: 35px;
  height: 450px;
  margin: 50px auto 0 -475px;
  background-color: white;
  color: black;
  padding: 10px;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1500px) {
  .user-container {
    margin: 50px auto 0 -160px;
  }
}
.user-container h4 {
  margin: 0;
  margin-left: -120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 70px;
  height: 30px;
}
.user-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-cat p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.user-data p {
  font-size: 14px;
  font-weight: 600;
}
.user-data-active p {
  font-size: 14px;
  font-weight: 600;
}
.user-data:nth-child(1) {
  background-color: #f0d9db;
  color: red;
}
.user-data-active:nth-child(1) {
  background-color: darkred;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 70px;
  height: 30px;
}
.user-data-active:nth-child(2) {
  background-color: darkgoldenrod;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 70px;
  height: 30px;
}
.user-data-active:nth-child(3) {
  background-color: darkgreen;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 70px;
  height: 30px;
}
.user-data-active:nth-child(4) {
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 70px;
  height: 30px;
}

.user-data:hover:nth-child(1) {
  background-color: darkred;
  color: white;
}

.user-data:nth-child(2) {
  background-color: #fefcf1;
  color: darkgoldenrod;
}
.user-data:hover:nth-child(2) {
  background-color: darkgoldenrod;
  color: white;
}
.user-data:nth-child(3) {
  background-color: #f2fbfa;
  color: green;
}
.user-data:hover:nth-child(3) {
  background-color: darkgreen;
  color: white;
}
.user-data:nth-child(4) {
  background-color: #f3f3ff;
  color: purple;
}
.user-data:hover:nth-child(4) {
  background-color: darkblue;
  color: white;
}
.btn {
  all: unset;
  background-color: #303c58;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0;
  margin-left: 60px;
  margin-top: 30px;
  color: white;
  font-weight: 600;
}
.btn:hover {
  background-color: red !important ;
}
.temp-div {
  width: 340px;
}
